* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #b0b0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing-table {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.plan {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.plan:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    color: #777;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 70px;
    text-decoration: none;
    font-weight: bold;
}

.free .btn {
    background-color: #655c72;
    color: white;
}

.standard .btn {
    background-color: #2d3f88;
    color: white;
}

.premium .btn {
    background-color: #e2b03a;
    color: white;
}